@model StudentSelectCourse
@{
    Layout = null;
}

<html>
<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <body>

        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title text-center">Hoş Geldiniz</h4>
                            <form asp-action="Index" asp-controller="Course" method="post">

                                <div class="form-group">

                                    <select class="form-select" asp-items="@Model.CourseSelectList" asp-for="@Model.SelectedCourse">
                                        <option value="NOSELECTEDVALUE"> Lütfen Bir kurs seçiniz</option>
                                    </select>

                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Add</button>
                                <div asp-validation-summary="ModelOnly"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <style src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></style>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@await Component.InvokeAsync("NToastNotify")
</html>
